{{> nav }}

<div class="container-fluid">
  <main>
    <div class="row">
      <div class="col-sm-6">

        <h1 class="mt-5 text-center text-secondary"><i>F-I-T-N-E-S-S</i> </h1>
        <h3 class="text-center text-primary">IS LIKE A</h3>
        <h2 class="text-center text-primary">RELATIONSHIP</h2>
        <h3 class="text-center text-primary">YOU CAN'T CHEAT<br>AND EXPECT IT TO<br>WORK.</h3>

        <label for="vedio" class="text-center">
          <h4 class=" text-danger mt-5">HERE IS YOUR DEMO..... </h4>
        </label>

        <video width="480" height="300" class="border bg-light " id='vedio' controls loop>
          <source src="./fitness.mp4" type="video/mp4">
          <source src="./fitness.mp4" type="video/ogg">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>

    <div class="col-sm-6">

    </div>

    <div class="container-fluid bg-light p-2 mt-3">
      <h1 class="text-info text-center mt-4">OUR STAFF PHOTOS</h1>
      <div class="card-deck mt-5">
        <div class="card" style="width:400px" id="imgg">
          <img class="card-img-top" src="./personal_trainers.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Personal Trainer</h4>
            <p class="card-text">These are our high rated trainers.</p>

          </div>
        </div>

        <div class="card" style="width:400px" id="imgg">
          <img class="card-img-top" src="./team_trainers.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Team Trainer</h4>
            <p class="card-text">These are our high rated trainers.</p>

          </div>
        </div>

        <div class="card" style="width:400px">
          <img class="card-img-top" src="./trainer-2.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">General Trainer</h4>
            <p class="card-text">These are our high rated trainers.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid border bg-light  mt-3 ">
      <div class="row">
        <div class="col-sm-9 mx-auto">

          <h2 class="text-success text-center mt-3">ABOUT US</h2>
          <div class="jumbotron-fluid">




            <h3 class="text-center text-danger mt-3"> VISION</h3>
            <h4>
              We Actually Help The People Help To Release There Stress
              Or Bad Emotion & To Achieve High Mental & Physical Strength Because Of This, They Able To Lead There Life
              Happily.

            </h4>
            <h2 class="text-center text-danger mt-3">Website Developers</h2>
            <h4> we are the student of <a href="#">sapthagiri college of engineering</a> currently studing 3rd year(ISE
              branch) </h4>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
{{> footer}}