<body class="bg-light">
    {{> nav}}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-deck">
                    <div class="card" style="width:450px">
                        <div class="card-header text-center">
                            <h4>Standred</h4>
                        </div>
                        <div class="card-body bg-dark text-white">
                            <div class="card-body ">
                                <div class="card border p-2">
                                    <h1 class="text-center text-info ">$35<i>/month</i></h1>
                                </div>
                            </div>
                            <h6 class="text-center text-white border"></h6>
                            Include membership<br>
                            <h6 class="text-center text-white border"> </h6>Access To All Gym Facilites

                            <h6 class="text-center text-white border"></h6> Free parking Pass<br>
                            <h6 class="text-center text-white border"></h6> monday-friday gym Access<br>
                            <h6 class="text-center text-white border"></h6> 3 days personal_trainers Help<br>
                            <h6 class="text-center text-white border"></h6> no additional amenities<br>

                            </h6>




                        </div>
                        <div class="card-footer"><a href="/payment" class="btn btn-success">Join Now</a></div>
                    </div>
                </div>
            </div>




            <div class="col-sm-4">
                <div class="card-deck">
                    <div class="card" style="width:450px">
                        <div class="card-header text-center">
                            <h4>Professional</h4>
                        </div>
                        <div class="card-body bg-dark text-white">
                            <div class="card-body ">
                                <div class="card border p-2">
                                    <h1 class="text-center text-info ">$65<i>/month</i></h1>
                                </div>
                            </div>
                            <h6 class="text-center text-white border"></h6>
                            Include membership<br>
                            <h6 class="text-center text-white border"> </h6>Access To All Gym Facilites

                            <h6 class="text-center text-white border"></h6> Free parking Pass<br>
                            <h6 class="text-center text-white border"></h6> monday-friday gym Access<br>
                            <h6 class="text-center text-white border"></h6> 45 days personal_trainers Help<br>
                            <h6 class="text-center text-white border"></h6> Free Suppliments<br>

                            </h6>




                        </div>
                        <div class="card-footer"><a href="/payment" class="btn btn-success">Join Now</a></div>
                    </div>
                </div>
            </div>




            <div class="col-sm-4">
                <div class="card-deck">
                    <div class="card" style="width:450px">
                        <div class="card-header text-center">
                            <h4>Elite</h4>
                        </div>
                        <div class="card-body bg-dark text-white">
                            <div class="card-body ">
                                <div class="card border p-2">
                                    <h1 class="text-center text-info ">$95<i>/month</i></h1>
                                </div>
                            </div>
                            <h6 class="text-center text-white border"></h6>
                            Include membership<br>
                            <h6 class="text-center text-white border"> </h6>Access To All Gym Facilites

                            <h6 class="text-center text-white border"></h6> Free parking Pass<br>
                            <h6 class="text-center text-white border"></h6> monday-friday gym Access<br>
                            <h6 class="text-center text-white border"></h6> 95 days personal_trainers Help<br>
                            <h6 class="text-center text-white border"></h6> Full Access To Everything<br>

                            </h6>




                        </div>
                        <div class="card-footer"><a href="/payment" class="btn btn-success">Join Now</a></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {{> footer}}
</body>

</html>